<div class="container">
    <h1>Administration</h1>
    <p>Manage the website</p>
    <button
    mat-raised-button
    [routerLink]="['/contact']"
    class="button">Manage products</button>
    <button
    mat-raised-button
    [routerLink]="['/contact']"
    class="button">Manage users</button>
    <button
    mat-raised-button
    [routerLink]="['/contact']"
    class="button">Manage categories</button>
    <button
    mat-raised-button
    [routerLink]="['/contact']"
    class="button">Manage orders</button>
  </div>