.container {
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/photos/backgrounds/loginpage-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.contact-information {
  margin-top: 80px;
}
