<div class="container">
  <form class="form" [formGroup]="submitForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <h1>Contact form</h1>
    <div class="contact-form">
        <mat-form-field appearance="outline">
          <mat-label>Your name</mat-label>
          <input matInput placeholder="" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Mail</mat-label>
          <input matInput placeholder="" formControlName="mail">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Phone number</mat-label>
          <input matInput placeholder="" formControlName="phone-number">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Message</mat-label>
          <input matInput placeholder="" formControlName="message">
        </mat-form-field>
      <button type="submit" mat-raised-button color="primary" class="submit-button" value="Submit">Submit</button>
    </div>
  </form>
</div>
