<div class="container">
  <form action="" >
    <h1>Contact form</h1>
      <mat-form-field appearance="outline">
        <mat-label>Your name</mat-label>
        <input matInput placeholder="" formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mail</mat-label>
        <input matInput placeholder="" formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="" formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <input matInput placeholder="" formControlName="username">
      </mat-form-field>
    <button type="submit" mat-raised-button color="primary" class="login-button" value="Login">Login</button>
  </form>
</div>
