<div class="container">
  <mat-card>
    <!-- Is not editing  -->
    <div class="product-card" *ngIf="!isEditing">
      <div>
        <img [src]="product.imagePath" alt="Product image" class="product-image">
      </div>
      <div>
        <p class="product-name"> {{product.productName}} </p>
        <p> {{product.productDescription}}</p>
      </div>
      <div>
        <span *ngIf="product.isOnSale">Sale!</span>
        <p>€{{productPrice}}</p>
      </div>
      <div>
        <mat-chip-list aria-label="">
          <mat-chip color="primary" selected>{{product.category.categoryName}}</mat-chip>
        </mat-chip-list>
      </div>
      <div>
        <!-- <a [routerLink]="['/product', product.productId]"><button mat-stroked-button>View</button></a> -->
      </div>
      <div>
        <button mat-stroked-button (click)="onEditAttempt()">Edit</button>
      </div>
    </div>

    <!-- Is editing -->
    <div *ngIf="isEditing">
      <div>
        <form action="" [formGroup]="editForm" (ngSubmit)="onEditAttempt()">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Image URL</mat-label>
              <input matInput placeholder="" formControlName="imageUrl">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <input matInput formControlName="description">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Price</mat-label>
              <input type="number" matInput formControlName="price">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Amount available</mat-label>
              <input type="number" matInput formControlName="amountAvailable">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Category</mat-label>
              <input matInput formControlName="category">
            </mat-form-field>
          </div>
          <button type="submit" mat-raised-button color="primary">Edit</button>
        </form>
      </div>
    </div>
  </mat-card>
</div>
