@use "src/colors.scss";

.container {
  display: grid;
  justify-content: center;
  //text-align: center;
  place-items: center;
}

.product {
  text-align: center;
}

h1 {
  margin-bottom: 40px;
  font-size: 40px;
  color: rgba($color: colors.$green, $alpha: 2.0);
}
