.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 400px;
  margin-bottom: 80px;
  padding: 50px;
}

.sign-up-button {
  width: 200px;
  height: 50px;
}

mat-card {
  background-color: rgba($color: #ffffff, $alpha: 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

