.categories {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 100px;
}

.categories-banner {

}

h1 {
  font-size: 50px;
  text-align: center;
}
